body{
  background-color: darkslateblue;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.area {
  background-color: #fff;  
  padding: 1em;
  border-radius: 0.5em;
  flex-direction: column;  
}

.input_area {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3em; 
}



button:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  margin-top: 2em;
}

.calcular {
  display: inline;
  margin-top: 2em;
}